.x-tab {
	min-width: 80px;
}

#loading-splash-logo {
	position: absolute;
	top: 0px;
	left: 0px;
}

.loading-splash  .x-mask-inner {
	background-color: transparent;
	padding: 0px;
	z-index: 1000;
}

div.about {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	vertical-align: bottom;
}

div.about img {
	width: 130px;
	height: 150px;
	margin: 10px;
}

.centered-cell {
	text-align: center;
}

.touchgridpanel .x-list-item:nth-child(odd) {
	background-color: #fff;
}
.x-title {
    font-size: 16px;
}
.touchgridpanel .x-grid-header {
    font-size: 16px;
}
.touchgridpanel  .x-toolbar{
	min-height: 30px;
}
.touchgridpanel .x-grid-cell-hd {
    font-weight: bold;
}
.touchgridpanel .x-grid-cell {
   font-weight: bold;
}
.x-list-item-leaf{
	display : block;
	padding-left: 10px;
	background: url("images/arrow_right.png") right no-repeat;
}
.x-carousel-inner .x-html {
    padding: 0;
}
.menu-item{
	padding: 5px 4px 0px 4px;
	margin: 5px 4px 10px 4px;
	border-radius: 3px;
}
.menu-item:HOVER{
	background-color: #c7ddac;
}
.menu-item img{
	height: 64px;
	width: 64px;
}
.menu-item .menu-label{
	text-align : center;
	font-size: 12px;
	color: #FFF;
}
#menugrid .x-body{
	background: url("images/menu_bg.png") right bottom no-repeat;
}